@charset "UTF-8";
body{
	background: #F8EBCE;
}
#checkphone_wrap{
    margin-top: 50px;
    margin-left: 100px;
}
#check_submit, #check_btUse{
	background: #ED6D35;
	border-radius: 7px
}
#check_btUse{
	margin-bottom : 10px;
}