@charset "UTF-8";
body {
    background: #F8EBCE;
}

#findUserid_wrap {
    margin-top: 30px;
    margin-left: 30px;
}
.findId_form_container {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.findId_label {
    margin-right: 10px;
    width: 100px;
    text-align: center;
}
.findId_input_field {
    width: 200px;
    border-radius: 12px;
}
#findId_submit {
    background: #ED6D35;
    border-radius: 7px;
    width: 110px;
    height: 33px;
    font-weight: bold
}
#findId_btn{
	margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
	
}
.findId_result p{
	font-size: 20px;
	font-weight: bold;
}