@charset "UTF-8";

body{
	background-color: #F8EBCE;
}
#footer_wrap{
	background-color: #F8EBCE;
	bottom: 0;
	width: 100%;
	 z-index: 10;
	  height: 13%;
	 position: fixed;
}

a {
	text-decoration: none;
	color: inherit;
}
.footer_left, .footer_center, .footer_right {
	display: inline-block;
	vertical-align: top;
}
.footer_center{
	position: absolute;
	width: 20%;
}
#footer_menu {
	margin-left: 10px;
	font-weight: bold;
	font-size: 13px;
	weight:100%;
	text-align: center;
}

.footer_text p{
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
}

#footer_box {
	right: 5%;
	position: absolute;
	width: 30%;
}
#footer_box span{
	position: absolute;
	left: 0;
	width: 20%;
	display: flex;
    align-items: center; /* 수직 정렬을 위한 속성 */
    justify-content: center; 
    font-size: 18px;
	
}
#footer_messagebox{
	position: absolute;
	right: 20%;
	width: 60%;
	margin-left:50px;
}
#footer_messagebox1{
	position: absolute;
	right: 0;
	width: 15%;
	border: 1px;
}
.footer_center img {
	position: absolute;
	height: 100px;
	width: auto;
	left: 20%;
	
}

#footer_box p {
	align-self: center;
	margin-left: 80px;
}
#footer_butt {
	margin-left: 50px;
margin-top: 30px;
background-color: #FFCD1D;
}
@media screen and (max-width: 1200px) {

	.footer_right{
		display: none;
	}
	.footer_text p{
		display: none;
	}
	.footer_text h3{
		position: absolute;	
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}
@media screen and (max-width: 1800px) {
	.footer_center{
		display: none;}
		}@media screen and (max-height: 800px) {

	

}