@charset "UTF-8";
#contain {
  display: flex;
  margin: 50px;
  margin-left: 300px;
  margin-top: 100px;
}

#recipe {
		margin-top :5px;/*사이드 메뉴 레시피 글자 중앙 정렬*/
		width: 200px;/* 원하는 가로 길이로 설정 */
	}
	 .ui-accordion-header {/* 사이드바 안 아코디언 헤더 스타일 */
        background-color: #FFCD1D;
        padding: 10px;
        cursor: default;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: bold;
    }

    .ui-accordion-content {/* 사이드바 안에 아코디언 콘텐츠 스타일 */
        background-color: #fff;
        padding: 15px;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: bold;
    }
	
.recipe_side0 {
		margin:auto;
		text-align : center;
		background-color: #FC7439;
		border-radius: 35px;
		width: 200px;
		height: 50px;
		text-align: center;
		color: #FFFFFF;
		border: 3px solid black;
	}
	
#box1,#box2 {

  box-sizing: border-box;

}

#box1 {
  border-radius: 30px;
  flex-direction: column; /* 버튼들을 세로로 나열 */
      justify-content: center; /* 가운데 정렬을 위한 스타일 추가 */
    align-items: center; 
    margin-top: 150px;
      background-color: white;
		border-radius: 10px;
		width: 230px;
		float: left;
		border: 3px solid black;
		padding: 10px;
		height:600px !important;
}
#ma_memberbt,#ma_announbt,#ma_inquirybt{
	background-color: #fff;
	border: 3px solid #000;
	  margin: 15px;
	  width: 150px;
	  height: 50px;
	  border-radius: 15px;
	   text-decoration: none; /* 밑줄 제거 */
	   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #000;
}
#ma_memberbt:active, #ma_announbt:active, #ma_inquirybt:active,
#ma_memberbt:focus, #ma_announbt:focus, #ma_inquirybt:focus {
  outline: none; /* 클릭 또는 포커스 시 테두리 제거 */
  background-color: #fff; /* 클릭 또는 포커스 시 배경색을 변경하지 않음 */
}
#box2 {
      flex: 1;
      background-color: #F8EBCE;
 
      display: flex;
      flex-direction: column;
      padding: 20px;
      box-sizing: border-box;
      justify-content: center;
  align-items: center;
      
    }
    #box2 table {
      width: 1000px; /* 테이블의 너비를 100%로 설정 */
      border-collapse: collapse;
            background-color: #fff;
                  border-radius: 30px 30px 0 0;

    }
 .in-Information{
      white-space: nowrap;
    }
    #box2 th{
      padding: 15px;
     text-align: left; 
     white-space: nowrap;
    }
    .row{
		margin-bottom: 10px;
	}
#inq_header{
	background-color:#FFCD1D;
	border: 3px solid black;
	margin-top: 10px;
}
    #textAreaContainer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
      margin-top: 15px; /* 수정된 부분: 상단 간격 조절 */

    }
    #inq_content {   
width: calc(100% - 10px);
      margin-bottom: 10px;
     box-sizing: border-box;
      margin: 10px;
    }
    #in-contents{
		border-top: 3px solid #000;
	}

    #sendButton {
      width: 150px; 
      padding: 10px;
      margin-left:10px;
      background-color: #FFCD1D;
      border: 3px solid #000;
      border-radius: 30px;
      cursor: pointer;
      margin: 10px;
    }