@charset "UTF-8";

body {
	margin: 0 auto;
	background: #F8EBCE;
}

#main_wrap {
	display: flex;
	margin-top: 100px;
	align-items: center;
	justify-content: center;
}

#recipe {
		margin-top :5px;/*사이드 메뉴 레시피 글자 중앙 정렬*/
		width: 200px;/* 원하는 가로 길이로 설정 */
	}
	 .ui-accordion-header {/* 사이드바 안 아코디언 헤더 스타일 */
        background-color: #FFCD1D;
        padding: 10px;
        cursor: default;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: bold;
    }

    .ui-accordion-content {/* 사이드바 안에 아코디언 콘텐츠 스타일 */
        background-color: #fff;
        padding: 15px;
        border: 2px solid black;
        border-radius: 10px;
        font-weight: bold;
    }
	
	#main_materialBox00 {/*사이드바 스타일*/
		background-color: white;
		border-radius: 10px;
		width: 230px;
		float: left;
		border: 3px solid black;
		padding: 10px;
		height:600px !important;
		margin-right: 50px;
	}
.recipe_side0 {
		margin:auto;
		text-align : center;
		background-color: #FC7439;
		border-radius: 35px;
		width: 200px;
		height: 50px;
		text-align: center;
		color: #FFFFFF;
		border: 3px solid black;
	}
	
	#recipe_sidebar{
		position : relative;
		padding: 600px;
		
	}
	#recipedetail_contain01{
		margin-right: 50px;
	}
#main_materialBox {
	margin: 0 auto;
	width: 925px;
	height: 570px;
	border-radius: 50%;
	border: 5px solid #000;
	background: #FFCD1D;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 570px;
	border-radius: 50%;
}


    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .carousel-control-prev{
		position: absolute;
		height: 100%;
		
	}


#main_materialBox_left {
	width: 840px;
	height: 500px;
	border-radius: 50%;
	background: #FFF;
	display: flex;
}

#main_materialBox_left_1 {
	width: 300px;
	height: 340px;
	border-radius: 50%;
	border: 5px solid #000;
	margin: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#main_materialBox_left_1 img {
	width: 30px;
}

#main_materialBox_left_2 {
	width: 190px;
	height: 220px;
	border-radius: 50%;
	background-color: #FFCD1D;
	margin: 10px;
}

#main_materialBox_right_1 {
	margin-top: 103px;
	margin-left: -50px;
}

#main_materialBox_right_1 p {
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-weight: bold;
}

.main_materialBox_input {
	width: 329px;
	height: 77px;
	border-radius: 30px;
	border: 2px solid #000;
	background: #0B4619;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5px;
	margin-left: -15px;
}

.main_materialBox_input2 {
	width: 304px;
	height: 59px;
	border-radius: 30px;
	border: 2px solid #000;
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.main_materialBox_input2 input {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	font-size: 16px;
	font-weight: 400;
	border-radius: 30px;
	outline: none;
}

#main_materialBox_search {
	display: flex;
	align-items: center;
}

#main_materialBox_search img {
	width: 50px;
	margin-left: 20px;
}

.inline-block-item {
	font-size: 11px;
	font-weight: bold;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	background-color: #f5f5f5;
	color: #333;
	white-space: nowrap;
	/* 입력값이 width를 초과하면 줄바꿈 방지 */
	overflow: hidden;
	/* 입력값이 width를 초과하면 숨김 처리 */
	text-overflow: ellipsis;
}

.close-icon {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: red;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
}

.main_selectbox {
	height: 35px;
	margin-bottom: 5px;
}

.main_addButton {
	margin-left: 10px;
	border-radius: 15px;
	font-size: 15px;
	font-weight: bold;
	background: #ED6D35;
}

.main_selectbox .upper-item,
#main_materialBox_right .lower-item {
	margin-bottom: 10px;
}

.main_materialBox_input {
	margin-top: 10px;
}
#main_searchButton{
	border:none;
	background: none;	
}
