@charset "UTF-8";

body {
    /* 페이지 너비를 조절 */
    margin: 0 auto; /* 페이지를 가운데 정렬 */
    background-color:#F8EBCE;
    height: 100%;            
}

a {
	color: black; /* 링크 텍스트 색상을 검정색으로 설정 */
	text-decoration: none;
}
 
#mypage_box00{
	margin-right:50px;
}   

#mypage_icon{
	width: 250px; /* 도형의 너비 */
	height: 250px;
	border: 5px solid;
	border-radius: 50%; 
}

#myicon {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.mypage_button{
	width: 400px;
	display: flex;
	flex-direction: row;
	text-align: center;
	bottom:0;
}

#binselt, #bupdate{/* 레시피 등록, 수정 */
    background-color: #FC7439;
    border: 3px solid;
    border-radius: 30px;
    width: 150px; /* 도형의 너비 */
    height: 50px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    padding : 10px;
    margin:15px;
}

#mypage_box10{
	width: 400px;
}

.title{
	float:left;
}

#submypage_Input td{
	border-bottom: 3px solid #000;
	padding: 8px;
}
#submyname,#submyid,#submyfood,#subcoment{
	justify-content: center; /* 가운데 정렬을 위한 스타일 추가 */
	align-items: center; 
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	border-radius: 30px;
}

#submyname,#submyfood{
	background-color: #FFCD1D;
}

#submyid,#subcoment{
	background-color: #fff;
}
.mysubpage_box01{
	background-color: #fff; /* 배경 색상은 예시로 설정하였습니다. 필요에 따라 조절하세요. */
    padding: 20px;
    border-radius: 30px;
	border: 5px solid #000;
	width: 700px;
	margin-top :20px;
	height: 200px;
}


.submypage_Bookmark01{
	background-color: #FFCD1D;
	width: 300px;
	text-align: center;
	border-radius: 30px;
	margin-bottom: 20px;
}

#subima{
	width: 150px; /* 도형의 너비 */
	height: 90px;
	border: 5px solid #000;
	margin-left:5px;
}
.Mypage_ntr{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:50px;
	margin-top: 100px;
}

#submypage_contain02{
	margin-left:50px;
}

       