@charset "UTF-8";
body{
	background-color: #F8EBCE;
}
#submypage_entir {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가운데 정렬을 위한 스타일 추가 */
    align-items: center; 
    margin-top: 150px;
}

#submypage_contain01 {
    flex: 1; 
     display: flex;
    justify-content: space-between; 
}

#submypage_box01 {
   display: flex;
}

#submypage_box02 {
    flex: 1; /* 동일한 너비로 나뉘도록 설정 */
    margin-left: 30px;
    margin-top: 50px;

}

#submypage_contain02 {
    background-color: #fff; /* 배경 색상은 예시로 설정하였습니다. 필요에 따라 조절하세요. */
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
     border: 5px solid #000;
     width: 1520px;
}

#submypage_contain01 img {
    max-width: 100%;
    height: auto;
}
      #submypage_icon{
		  border: 3px solid #000;
		   border-radius: 50%;
		   width: 300px; /* 도형의 너비 */
            height: 300px;
	  }
	   #submypage_Input{
	   width: 550px; /* 테이블의 너비를 100%로 설정하여 부모 컨테이너에 맞춥니다. */
	   height: 150px;
    border-collapse: collapse; }
    
	  #submypage_Input td{
		  border-bottom: 3px solid #000;
		  padding: 8px;
	  }
	  #submyname,#submyid,#submyfood,#submybirth{
		   justify-content: left; /* 가운데 정렬을 위한 스타일 추가 */
		  font-weight: bold;
		  font-size: 20px;
		  text-align: center;
		  border-radius: 30px;
		  padding-right: 50px; 
		  padding-right: 30px;
   
	  }
	  #submyname,#submyfood{
		   background-color: #FFCD1D;
	  }
	  #submyid,#submybirth{
		   background-color: #fff;
	  }
	  
	  .submypage_Bookmark01{
		   background-color: #FFCD1D;
		   width: 300px;
		   text-align: center;
		   border-radius: 30px;
		    justify-content: center; /* 가운데 정렬을 위한 스타일 추가 */
    align-items: center; 
    margin-bottom:20px;
	  }
	  #subima{
		   width: 350px; /* 도형의 너비 */
            height: 200px;
            border: 5px solid #000;
            margin-left:5px;
	  }
	  .submypage_Bookmark02 img{
		width: 250px;
		height:200px;		  
  	  }