@charset "UTF-8";
header{
	position: fixed;
	top: 0;
      width: 100%;
       z-index: 10;
}
span {
	font-style: bold;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: inherit;
}

#header_wrap {
	background-color: #FFCD1D;
	border-radius: 0 0 30px 30px;
	padding: 10px;
}

#header_img1, #header_img2, #header_img3 {
	width: 50px; /* 이미지 크기 조절 */
}

#header_text {
	border-radius: 30px 0 0 30px;
}

#header_button {
	border-radius: 0 30px 30px 0;
}

@media screen and (max-width: 1050px) {
	#header_span1, #header_span2 {
		display: none;
	}
}

